/* GENERALE */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: #393d41;
  font-size: 1.2rem;
  font-size: "Open Sans";
  line-height: 1.65;
  font-family: "Open Sans", sans-serif;
}

h2,
h3,
h4 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

/* HEADER */
header {
  background-color: black;
  text-align: center;
  padding: 2em;
}

header img {
  width: 10em;
}

/* MAIN */
#article-start {
  width: 100%;
  height: 20em;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  text-align: center;
}

#article-start h2 {
  padding: 2em 3em 0;
  line-height: 1em;
}

#article-start h2 + p {
  margin: 1em 1em 0;
  padding: 0 2.5em;
}

#article-start button {
  border-radius: 5px;
  background-color: #f04c2f;
  color: white;
  font-weight: bold;
  border: none;
  margin-top: 2em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 1em 2em;
}

#article-start button a {
  text-decoration: none;
  color: white;
}

.article-info {
  width: 100%;
  height: 3em;
  margin-bottom: 6em;
  text-align: center;
}

.article-info p {
  margin: 1em 2em;
}

#article-end {
  padding: 1em;
  text-align: center;
}

#article-end img {
  width: 70%;
  border-radius: 50%;
  padding: 1em 1em;
}

section {
  background-color: #e22d0e;
  text-align: center;
  color: white;
  height: 18em;
}

section h2 {
  color: white;
  padding-top: 2em;
}

section blockquote {
  font-style: italic;
  padding: 1em;
}

#author {
  padding: 1em;
}

#author p:last-child {
  font-size: 0.8rem;
}

aside img {
  width: 100%;
}

.aside-tab {
  margin: 2em 1em;
  border: 1px solid #dee1e3;
  text-align: center;
}

.tab-text {
  padding: 1em;
}

/* FOOTER */
footer {
  background-color: #25a2c3;
  color: #c8e7f0;
  text-align: center;
  padding: 1em;
}

footer h2,
footer i {
  color: white;
}

footer span {
  display: block;
}

footer a {
  color: #c8e7f0;
}
